@import url(https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap%22%20rel=%22stylesheet%22);

mat-grid-list{
    margin: 20px 110px;
    max-width: 100%;
    max-height: 100%;
}
mat-grid-tile{
    background-color: rgb(0, 0, 0, 0.9);
    border: solid 2px rgb(0, 0, 0, 0.4);
}

.wordSecret{
    margin-top: 5%;
    color: white;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 40px;
    letter-spacing: 10px;
}

.game{
    margin-left: 20%;
    color: white;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 6vh;
    letter-spacing: 10px;
}

.botonera{
    justify-content: center;
    text-align: center;
    margin: 1px;
    color: black;
}
div{
    max-width: 80%;
}

.error{
    color: white;
    padding: 10px;
}

.button-success{
    background-color: #5cb85c;
}
.button-error{
    background-color: #d9534f;
}
.button-not{
    background-color: white;
}

    