

<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile rowspan="2">
        <img width="200" src="../../../../assets/images/Ahorcado-{{playGame.countError}}.png">
    </mat-grid-tile>
    <mat-grid-tile>
        <h4 class="game">{{playGame.resultado}}</h4>
    </mat-grid-tile>
    <mat-grid-tile>
        <p class="wordSecret">{{playGame.guion}}</p><br><br>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
        <div>
            <button mat-flat-button *ngFor="let button of buttons" class="botonera" (click)="play(button)" [ngClass]="button.state">{{button.letter}}</button>
        </div>
    </mat-grid-tile>
</mat-grid-list>
