<app-carrousel></app-carrousel>
<br>
<app-destacado></app-destacado>


<!-- FOOTER -->
<!-- <footer class="mt-5 pt-5 pb-5 footer">
  
      <div class="mapa ">
        <h6>Mapa del sitio</h6>
        <a class="nav-link" routerLink=''>Home</a>
        <a class="nav-link" routerLink='ruta-juegos'>Juegos</a>
        <a class="nav-link" routerLink="ruta-resultados">Resultados</a>
        <a class="nav-link" routerLink="ruta-about">About</a>
      </div> -->
      <!-- <div class="col-lg-3 col-xs-12">
        <h6>Contactenos</h6>
        <p style="font-size: xx-small;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi ipsa vel quisquam architecto unde delectus assumenda, molestiae incidunt eveniet earum eos labore consectetur. Necessitatibus error temporibus dolores libero blanditiis provident.</p>
      </div> -->
  
  <!-- <div >
    <p class="float-right"><a href="#">Back to top</a></p>
    <p>&copy; 2020 Cailean Alejandro, Inc. </p>
  </div>
</footer> -->