<div class="container marketing"> 
    <div class="row">
      <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" style="width: 140px; height:140px;"  src="../../../assets/images/tateti.jpg" alt="tateti" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" >
        
        <h3>TATETI</h3>
        <p>El clasico juego aqui para que lo disfrutes!!!!</p>
       <input type="button" class="btn btn-warning" routerLink="ruta-juegos/ruta-tateti" value="JUGAR A TATETI ">
        
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" style="width: 140px; height:140px;"  src="../../../assets/images/piedra-papel-tijera.jpg" alt="piedra-papel-tijera" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" >
        <h3>PIEDRA, PAPEL Y TIJERA</h3>
        <p>Un juego que nunca deja de divertirnos!!!!</p>
        <input type="button" class="btn btn-warning" routerLink="ruta-juegos/ruta-piedra-papel-tijera" value="JUGAR A PIEDRA,PAPEL Y TIJERA ">
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" style="width: 140px; height:140px;"  src="../../../assets/images/anagrama.jpg" alt="anagrama" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" >
        <h3>ANAGRAMAS</h3>
        <p>Divierte armando palabras!!!</p>
        <input type="button" class="btn btn-warning" routerLink="ruta-juegos/ruta-anagrama" value="JUGAR A ANAGRAMAS ">
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row --> 
    
  </div><!-- /.container -->
