<!-- Navigation -->
<ul class="nav nav-pills mb-3 justify-content-center navbar-fixed-top" id="pills-tab" role="tablist" style="background-image: url('https://image.freepik.com/foto-gratis/fondo-o-textura-madera-clara-pared-fondo-madera-patron-natural_256259-128.jpg');" >
  <li class="nav-item" role="presentation">
    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" routerLink=''  role="tab" aria-controls="pills-home" aria-selected="true">HOME</a>
  </li>
  <!-- <li class="nav-item" role="presentation">
    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" routerLink='ruta-juegos' role="tab" aria-controls="pills-profile" aria-selected="false">JUEGOS</a>
  </li> -->
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" routerLink="ruta-resultados" role="tab" aria-controls="pills-contact" aria-selected="false">RESULTADOS</a>
  </li>
  
  <li class="nav-item" role="presentation">
      <a class="nav-link" id="pills-contact-tab" data-toggle="pill" routerLink="login" role="tab" aria-controls="pills-contact" aria-selected="false">LOGIN</a>
  </li>
  <!-- <button class="btn btn-info"><app-nombre-usuario></app-nombre-usuario></button> -->
</ul>
  


